/* BACKDROP */
.feedback-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* MAIN CARD */
.feedback-card {
  width: 480px;
  background: #ffffff;
  border-radius: 20px;
  padding: 32px;
  position: relative;
  text-align: center;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
  animation: popupEnter 0.2s ease-out;
}

/* CLOSE BUTTON */
.feedback-card-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #f2f2f2;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  color: #333;

}

/* ICON */
.feedback-icon span {
  font-size: 50px;
}

/* TITLE */
.feedback-card-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 10px;
}

/* STAR GROUP */
.feedback-stars-group {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 20px;
}

/* STAR STYLE */
.feedback-star-card {
  font-size: 32px;
  cursor: pointer;
  color: #ddd;
  transition: 0.2s;
}

.feedback-star-card.active {
  color: #ffae42;
  transform: scale(1.2);
}

/* TEXTAREA */
.feedback-card-textarea {
  width: 100%;
  height: 110px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 0.95rem;
  resize: none;
  margin-top: 10px;
}

/* SEND BUTTON */
.feedback-card-send {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #97c892;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
}

.feedback-card-send:hover {
  background: #80d077;
}

/* ANIMATION */
@keyframes popupEnter {
  from {
    opacity: 0;
    transform: translateY(12px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.feedback-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
